#perun-table_with_attributes > :nth-child(odd) {
    background-color: #DFDFDF;
}

#perun-table_with_attributes, #perun-table_with_attributes ul, #perun-table_with_attributes .perun-attrname, #perun-table_with_attributes li {
    margin: 0;
    padding: 0;
}

#perun-table_with_attributes > li {
    clear: both;
    overflow: hidden;
    padding: 0.8em 0.5em;
}

#perun-table_with_attributes li {
    margin-left: 15px;
    list-style-type: disc;
}

#perun-table_with_attributes > li {
    list-style-type: none;
}

#perun-table_with_attributes li:only-child {
    list-style-type: none;
    margin-left: 0;
}

#perun-table_with_attributes {
    margin-bottom: 2em;
    margin-left: -15px;
    margin-right: -15px;
}

#saveconsentcontainer {
    margin-bottom: 1em;
}

#saveconsent {
    position: static;
    margin-left: 0;
}

#perun-table_with_attributes .perun-attrname {
    border-bottom: 0;
}

.perun-attrcontainer {
    overflow-wrap: break-word;
}

#yesbutton, #nobutton {
    margin-top: 1em;
}
