#perun-table_with_attributes > :nth-child(odd) {
    background-color: #DFDFDF;
}

#perun-table_with_attributes, #perun-table_with_attributes ul, #perun-table_with_attributes h3, #perun-table_with_attributes li {
    margin: 0;
    padding: 0;
}

#perun-table_with_attributes > :not(.perun-attr-singlevalue) .perun-attrlist li {
    padding-left: 15px;
}

#perun-table_with_attributes > li {
    clear: both;
    overflow: hidden;
    padding: 0.8em 0.5em;
}

@media(min-width:768px) {
    .perun-attr-singleline h3, .perun-attr-singleline .perun-attrcontainer {
        float: left;
        width: 50%;
    }
}

#perun-table_with_attributes .perun-attr-singlevalue li {
    list-style-type: none;
}

#perun-table_with_attributes .perun-attr-singlevalue li:before {
    content: none !important;
}

#saveconsent {
    margin: 2em 0 1em;
}
