a.metaentry {
    padding: 10px 15px 10px 15px;
}

a.metaentry:hover {
    background-image: none;
}

a.metaentry:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
}

a.metaentry.favourite {
    background-image: url(../../../../resources/icons/silk/star.png);
    background-position: 10px center;
    padding-left: 35px;
}

a.metaentry .idp-logo {
    float: right;
    height: 20px;
    max-width: 120px;
}

a.metaentryrow .idp-logo {
    max-height: 40px;
    max-width: 200px;
    padding: 3px;
}

a.tagged {
    padding: 10px;
    text-align: left;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

a.tagged img {
    display: inline-block;
    height: 40px;
    max-height: 40px;
    width: 40px;
    max-width: 40px;
    padding: 6px;
    margin: -12px 10px -10px -10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

a.tagged:hover, a.tagged:focus {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 30px rgba(0, 0, 0, 0.1) inset;
}

a.tagged:hover img {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

div.metalist {
    margin: 10px 0px;
}

form#idpselectform input {
    width: 100%;
    background-position: 10px center;
    padding: 10px 15px 10px 35px;
    height: 46px;
}

@media screen and (max-width: 950px) {
    a.metaentryrow .idp-logo {
        margin-bottom: 10px;
    }

    #misc .container-fluid .col-xs-12:last-child img {
        width: 193px;
    }
}

.descriptionp {
    text-align: center;
    margin-bottom: 20px;
}

.hrline {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #F0F0F0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hrline span {
    background-color: #ffffff;
    padding: 0 20px;
}

.idp-list {
    margin-bottom: 16px;
}

.inlinesearch {
    padding: 0px;
    margin: 10px 0px 20px 0px;
    float: none;
}

.metarowtable {
    margin-left: auto;
    margin-right: auto;
    width: 500px;;
    border: 0px;
    text-align: center;
}

.metarowtable td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-idp-found a.btn {
    text-decoration: none;
    color: white;
    border-bottom: none;
}

.search-box {
    margin-bottom: 16px;
}

#misc .container-fluid .col-xs-12:last-child img {
    max-height: 42px;
    margin-top: -1px;
}

#warning-entries {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#no-entries {
    padding: 10px;
    margin-top: 10px;
    display: none;
}

/*Copy from bootstrap 4*/
.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

/*Copy from bootstrap 4*/
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
