a.metaentry {
    padding: 10px 15px 10px 15px;
}

a.metaentry:hover {
    background-image: none;
}

a.metaentry:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
}

a.metaentry.favourite {
    background-image: url(../../../../resources/icons/silk/star.png);
    background-position: 10px center;
    padding-left: 35px;
}

a.metaentry .idp-logo {
    float: right;
    height: 20px;
    max-width: 120px;
}

a.metaentryrow .idp-logo {
    max-height: 40px;
    max-width: 200px;
    padding: 3px;
}

a.tagged {
    padding: 10px;
    text-align: left;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

a.tagged img {
    display: inline-block;
    height: 40px;
    max-height: 40px;
    width: 40px;
    max-width: 40px;
    padding: 6px;
    margin: -12px 10px -10px -10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

a.tagged:hover, a.tagged:focus {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 30px rgba(0, 0, 0, 0.1) inset;
}

a.tagged:hover img {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

div.metalist {
    margin: 10px 0px;
}

form#idpselectform input {
    width: 100%;
    background-position: 10px center;
    padding: 10px 15px 10px 35px;
    height: 46px;
}

@media screen and (max-width: 950px) {
    a.metaentryrow .idp-logo {
        margin-bottom: 10px;
    }

    #misc .container-fluid .col-xs-12:last-child img {
        width: 193px;
    }
}

.discoDescription-left {
    text-align: left;
    margin-bottom: 20px;
}

.descriptionp {
    text-align: center;
    margin-bottom: 20px;
}

.hrline {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #F0F0F0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hrline span {
    background-color: #ffffff;
    padding: 0 20px;
}

.idp-list {
    margin-bottom: 16px;
}

.inlinesearch {
    padding: 0px;
    margin: 10px 0px 20px 0px;
    float: none;
}

.metarowtable {
    margin-left: auto;
    margin-right: auto;
    width: 500px;;
    border: 0px;
    text-align: center;
}

.metarowtable td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-idp-found a.btn {
    text-decoration: none;
    color: white;
    border-bottom: none;
}

.search-box {
    margin-bottom: 16px;
}

#misc .container-fluid .col-xs-12:last-child img {
    max-height: 42px;
    margin-top: -1px;
}

#warning-entries {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#no-entries {
    padding: 10px;
    margin-top: 10px;
    display: none;
}

/*Copy from bootstrap 4*/
.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

/*Copy from bootstrap 4*/
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #a0a6ac;
    border-color: #a0a6ac;
}

#wrap {
    margin-top: 10em
}

#header img {
    width: 250px;
}


html {
    position:relative;
    min-height: 100%;
}

/*Normalize html and body elements,this style is just good to have*/
html, body {
    margin:0;
    padding:0;
}

.pageContentWrapper {
    margin-bottom:100px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}

@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    #header, #languagebar, #footer, .erroricon, .loginicon, .logintext,
    #regular_remember_username, #regular_remember_me {
        display: block;
    }
}

.hrline {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

#wrap {
    max-width: 40%;
    padding: 3% 1% 1% 1%;
    margin-top: 3%;

}

#header img {
    max-width: 80%;
}

.login-option-category {
    margin: 1.5rem 0;
}

.login-option-category-hint {
    text-align: center;
    color: #555;
}

.login-option-btn {
    text-align: center !important;
}

.login-option-btn-icon-img {
    margin-right: 2px;
    float: left;
}
.add-institution-link {
    padding: 2px 5px;
}
.no-entries-warning-block {
    padding: 10px; margin-top: 10px; margin-bottom: 10px; display: none;
}
#list {
    display: none;
}
#no-entries-btn-force-show {
    padding: 5px;
}
.entries-warning-block {
    padding: 10px;
    margin-top: 10px;
}

#content > .login-option-category:first-of-type {
    margin-top: 0;
}

@media handheld, only screen and (max-width: 780px), only screen and (max-device-width: 780px) {
    #wrap {
        max-width: 80%;
        padding-top: 3rem;
    }
}

@media handheld, only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
    #wrap {
        max-width: 100%;
        margin-top: 0;
        padding-top: 4rem;
    }
}
