#listOfSps {
    margin: 0 auto;
    padding: 10px;
}

#myChart {
    max-height: 200px;
    max-width: 470px;
    margin: auto;
}

#wrap {
    max-width: 100%;
}

.table-stats th {
    text-align: center;
}

.customLink, a:link, a:visited, a:hover {
    color: black;
    text-decoration: underline;
    border: none;
}

.customLink:hover {
    text-decoration: underline;
}

.boolean, .array, .map, .center {
    text-align: center;
}

h3 {
    padding-top: 50px;
}

#content, #languagebar {
    margin: auto;
}

@media screen and (max-width:767px) {
    #content, #languagebar {
        max-width: 95% !important;
    }

    td {
        max-width: 150px;
        word-wrap: break-word;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th{
        white-space: unset !important;
    }
}

@media screen and (min-width:767px) and (max-width:1080px) {
    #content, #languagebar {
        max-width: 90% !important;
    }

    td {
        max-width: 200px;
        word-wrap: break-word;
    }
}

@media screen and (min-width:1080px) {
    #content, #languagebar {
        max-width: 85% !important;
    }

    td {
        max-width: 300px;
        word-wrap: break-word;
    }
}

.row, .col-md-6 {
    box-sizing: border-box;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-md-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}
@media (min-width: 992px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
}
