html {
    position: relative;
    min-height: 100%;
}

.spacer {
    margin-bottom: 3%;
}

#header {
    margin-top: 5%;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
